---
---

@import "{{ site.theme }}";

/** Theme overrides for customization **/

/** Default Katelibby Page Theme **/
$theme-hacker-primary:  	           #FEFA03;
$theme-hacker-lime:  	               #07fb2f;
$theme-hacker-secondary:             #00ff9f;
$theme-hacker-trinary: 		           #00b8ff;
$theme-hacker-background:	           #502F4A;
$theme-hacker-text-color:            #F9F2ED;
$theme-hacker-link-color:            #EB4F5D;
$theme-hacker-hlink-color:           #3E5FBE;
$theme-hacker-vlink-color:           #3E5FBE;


@font-face {
	/**
    EOT is IE only,
    TTF has partial IE support,
    WOFF enjoys the widest support but is not available in some older browsers
    WOFF 2.0 support is a work in progress for many browsers.
	**/
	font-family: 'Cyberpunk-Regular';
	src: url('https://katelibby.chat/assets/fonts/Cyberpunk-Regular.eot?raw=true');
	src: url('https://katelibby.chat/assets/fonts/Cyberpunk-Regular.eot?raw=true?#iefix') format('embedded-opentype'),
			 url('https://katelibby.chat/assets/fonts/Cyberpunk-Regular.woff2?raw=true') format('woff2'),
			 url('https://katelibby.chat/assets/fonts/Cyberpunk-Regular.woff?raw=true') format('woff'),
			 url('https://katelibby.chat/assets/fonts/Cyberpunk-Regular.ttf?raw=true') format('truetype'),
			 url('https://katelibby.chat/assets/fonts/Cyberpunk-Regular.svg?raw=true#besom_2regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html, #container {
	text-shadow: none;
	background: $theme-hacker-background;
	background-color: $theme-hacker-background;
	color: $theme-hacker-text-color;
	min-height: 595px;
}
h1, h2, h3, h4, h5, h6 {
	text-shadow: none;
}

h1	{
	color: $theme-hacker-primary;
}

h2	{
	color: $theme-hacker-secondary;
}

h3	{
	color: $theme-hacker-trinary;
}

footer {
	background: $theme-hacker-background;
	ul {
		li {
			display: inline-block;
			list-style: none;
			margin-left: 1rem;
			padding-left: 0;
		}
	}
	
	a {
		color: $theme-hacker-primary;
	}
}

hr {
	background-color: $theme-hacker-primary;
  padding: 0px;
  height: 4px;
  border: 0px none;
  display: block;
  color: inherit;
	box-sizing: border-box;
	transition: color 0.2s ease 0s, background-color 0.3s ease 0s;
}

.horizonal-break {
	min-height: 1rem;
	height: 1rem;
	width: 100%;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, $theme-hacker-primary 8px, $theme-hacker-primary 10px);
	display: block;
	border: 0px none;
	aspect-ratio: 6 / 1;
	padding: 0;
}

.container {
  color: var(--color);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.right {
  text-align: right;
  width: 100%;
}

.stack {
  font-family: 'Cyberpunk-Regular';
	color: $theme-hacker-primary;
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-family: 'Cyberpunk-Regular';
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 $theme-hacker-secondary, 2px -3px 0 $theme-hacker-trinary;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 $theme-hacker-secondary, -2px 3px 0 $theme-hacker-trinary;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 $theme-hacker-secondary, 2px -3px 0 $theme-hacker-trinary;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 $theme-hacker-secondary, -2px 3px 0 $theme-hacker-trinary;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}
