<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% seo %}

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CVJZVYVVY0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CVJZVYVVY0');
  </script>

  </head>
  <body>
    <div id="container">
      <div class="inner">
        <header>
					<div align="center">
						<div class="container">
							<div class="stack" style="--stacks: 3;">
								<span style="--index: 0;">KATE</span>
								<span style="--index: 1;">KATE</span>
								<span style="--index: 2;">KATE</span>
							</div>
							<span class="right">a discord bot</span>
						</div>
					<div class="horizonal-break"></div>
					</div>
        </header>
        <section id="main_content">
          {{ content }}
        </section>

        <footer>
					<div align="center">
						<ul>
							<li><a href="/docs/code-of-conduct">Code of Conduct</a></li>
							<li><a href="/docs/privacy-policy">Privacy Policy</a></li>
							<li><a href="/docs/terms-of-service">Terms of Use</a></li>
							<li>© 2022 <a href="https://wh.iterabb.it">wh.iterabb.it</a></li>
						</ul>
					</div>
        </footer>
      </div>
    </div>
  </body>
</html>
